@import "../../styles/mixins.scss";

.sidebar {
  background-color: var(--theme-bgColorPrimary);
  border: 1px solid var(--theme-bgColorSecondary);
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  padding: 25px 20px;
  z-index: 10;

  @media only screen and (max-width: $lg) {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.open {
  display: flex !important;
}
