.dropdown {
  color: var(--theme-colorPrimary);
  cursor: pointer;
  user-select: none;

  > header {
    align-items: center;
    display: flex;
    gap: 5px;
  }

  > main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 21px;
    margin-top: 10px;
  }
}

.open {
  transform: rotate(90deg);
}
