:root {
  --theme-light-toggle: #d2d3da;
  --theme-light-query: #999;
  --theme-light-result: #000;
  --theme-light-bg: #f1f2f3;
  --theme-light-btn1: #fff;
  --theme-light-col1: #000;
  --theme-light-btn2: #d2d3da;
  --theme-light-col2: #000;
  --theme-light-btn3: #4b5efc;
  --theme-light-col3: #fff;
}

.calculator {
  align-content: center;
  background-color: var(--theme-light-bg);
  display: grid;
  justify-content: center;
  gap: 8px;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 50px 50px 100px 80px 80px 80px 80px 80px;
  height: 100%;

  > input {
    background: none;
    border: none;
    grid-column: 1/-1;
    outline: none;
    text-align: right;
  }

  > input:nth-of-type(1) {
    color: var(--theme-light-query);
    font-size: 40px;
  }

  > input:nth-of-type(2) {
    color: var(--theme-light-result);
    font-size: 96px;
  }

  > button {
    background-color: var(--theme-light-btn1);
    border: none;
    border-radius: 24px;
    color: var(--theme-light-col1);
    font-size: 32px;
    height: 72px;
    width: 72px;
  }

  > button:nth-of-type(-n + 3) {
    background-color: var(--theme-light-btn2);
    color: var(--theme-light-col2);
  }

  > button:nth-of-type(4n) {
    background-color: var(--theme-light-btn3);
    color: var(--theme-light-col3);
  }
}
