.header {
  align-items: center;
  background-color: var(--theme-bgColorPrimary);
  border-bottom: 1px solid var(--theme-bgColorSecondary);
  color: var(--theme-colorPrimary);
  display: flex;
  gap: 20px;
  grid-area: head;
  padding: 0 calc(12px + 1vw);
}
