@import "../../styles/mixins.scss";

.search {
  align-items: center;
  background: var(--theme-bgColorSecondary);
  border-radius: 8px;
  display: flex;
  height: 28px;

  button {
    background: none;
    border: none;
    color: var(--theme-colorSecondary);
    cursor: pointer;
    display: flex;
    padding: 6px;
  }
  img {
    height: 16px;
    width: 16px;
  }

  input {
    background: none;
    border: none;
    color: var(--theme-colorSecondary);
    height: 28px;
    flex-shrink: 1;
    outline: none;
    width: 120px;
  }

  @media only screen and (max-width: $xl) {
    display: none;
  }
}

.searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 6px;

  @media only screen and (min-width: $xl) {
    display: none;
  }
}
