.avatar {
  color: var(--theme-colorPrimary);
  display: flex;
  align-items: center;
  gap: 5px;

  > img {
    border-radius: 40%;
    height: 24px;
    width: 24px;
  }

  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
